In [1]:
# %matplotlib inline
import pandas as pd

In [2]:
# from IPython.core.display import HTML
# css = open('style-table.css').read() + open('style-notebook.css').read()
# HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.read_csv('Dataset/titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [4]:
cast = pd.read_csv('Dataset/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [5]:
cast.shape

(3786176, 6)

In [6]:
titles.shape

(244914, 2)

In [7]:
release_dates = pd.read_csv('Dataset/release_dates.csv')
release_dates.head()

                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                   #BKKY  2016     Cambodia  2017-10-12
2                 #Beings  2015      Romania  2015-01-29
3               #Captured  2017          USA  2017-09-05
4  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21

In [8]:
release_dates.shape

(479488, 4)

### How many movies are listed in the titles dataframe?

In [9]:
sum = titles['title'].count()

In [10]:
print("Number of movies that are listed in the titles dataframe is:",sum)

Number of movies that are listed in the titles dataframe is: 244914

### What are the earliest two films listed in the titles dataframe?

In [11]:
print("The earliest two films listed in the titles dataframe are:")

sorted1 = titles.sort_values('year').reset_index(drop=True).head(2)
list1 = list(sorted1['title'])
print(list1)

The earliest two films listed in the titles dataframe are:
['Miss Jerry', 'The Startled Lover']

### How many movies have the title "Hamlet"?

In [12]:
print("The Number of movie with \"Hamlet\" as the Title are:")
print(len(titles[titles.title == 'Hamlet']))

The Number of movie with "Hamlet" as the Title are:
20

### How many movies are titled "North by Northwest"?

In [13]:
print("The Number of movie with \"North by Northwest\" as the Title are:")
print(len(titles[titles.title == 'North by Northwest']))

The Number of movie with "North by Northwest" as the Title are:
1

### When was the first movie titled "Hamlet" made?

In [14]:
print("The First movie with \"Hamlet\" as the Title is:")
fst = int(titles[titles.title == 'Hamlet'].sort_values('year').reset_index(drop=True).year.head(1))
print(fst)

The First movie with "Hamlet" as the Title is:
1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [15]:
print("All of the \"Treasure Island\" movies from earliest to most recent are:")
print(titles[titles.title == 'Treasure Island'].sort_values('year').reset_index(drop=True).head())

All of the "Treasure Island" movies from earliest to most recent are:
             title  year
0  Treasure Island  1918
1  Treasure Island  1920
2  Treasure Island  1934
3  Treasure Island  1950
4  Treasure Island  1972

### How many movies were made in the year 1950?

In [16]:
print("Number of movies that were made in the year 1950 is:")
print(len(titles[titles.year == 1950]))

Number of movies that were made in the year 1950 is:
1113

### How many movies were made in the year 1960?

In [17]:
print("Number of movies that were made in the year 1960 is:")
print(len(titles[titles.year == 1960]))

Number of movies that were made in the year 1960 is:
1549

### How many movies were made from 1950 through 1959?

In [18]:
print("The number of movies that were made from 1950 through 1959 is:")
sum = 0
for i in range(1950,1960):
    sum = sum + len(titles[titles.year == i])
print(sum)

The number of movies that were made from 1950 through 1959 is:
12934

### In what years has a movie titled "Batman" been released?

In [19]:
print("The movie titled \"Batman\" has been released in the year:")
mov = titles[titles.title == 'Batman'].reset_index(drop=True)
print(mov[['year']])

The movie titled "Batman" has been released in the year:
   year
0  1943
1  1989

### How many roles were there in the movie "Inception"?

In [20]:
print("Number of Roles that were there in the movie \"Inception\" is:")
print(len(cast[cast['title']=='Inception'].type),"i.e")
lst = list (cast[cast.title == "Inception"].type.unique())
print(lst)

Number of Roles that were there in the movie "Inception" is:
78 i.e
['actor', 'actress']

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [21]:
print("Number of roles in the movie \"Inception\" that are NOT ranked by an \"n\" value is:")
print(cast[cast.title == "Inception"].n.isna().sum())
print("The roles are displayed below:")
cast[(cast['title']=='Inception')&(cast['n'].isnull()==True)]

Number of roles in the movie "Inception" that are NOT ranked by an "n" value is:
27
The roles are displayed below:

,title,year,name,type,character,n
98153,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
197877,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
374661,Inception,2010,John Ceallach,actor,LAX Passenger,NaN
497161,Inception,2010,Garvin Cross,actor,Snow Commander,NaN
684098,Inception,2010,Seve Esposito,actor,Italian Gambler,NaN
690634,Inception,2010,Marcus (II) Everett,actor,Stock Broker,NaN
707642,Inception,2010,Zachary Christopher Fay,actor,Extra,NaN
836295,Inception,2010,Daniel Girondeaud,actor,Bridge Sub Con,NaN
1006636,Inception,2010,Andrew Hoagland,actor,Pedestrian,NaN
1095095,Inception,2010,Charles Jarrell,actor,Hotel Guest,NaN
1108755,Inception,2010,Seong-hwan Jo,actor,Japanese Landing Crew,NaN
1120184,Inception,2010,Alonzo F. Jones,actor,Mombasan Casino Staff,NaN
1189066,Inception,2010,Mobin Khan,actor,Mombasa Casino Cashier,NaN
1248176,Inception,2010,Shunsaku Kud?,actor,Saito's Bodyguard Officer,NaN
1296268,Inception,2010,John (IX) Lawson,actor,Street Person,NaN
1312335,Inception,2010,Jean-Christophe Leger,actor,French Student,NaN
1665939,Inception,2010,Fran?ois-Marie Nivon,actor,A Passer-By,NaN
1836655,Inception,2010,Scott Pretty,actor,Pedestrian,NaN
1921209,Inception,2010,Benjamin (II) Riley,actor,Bridge Sub Con,NaN
1999736,Inception,2010,Norman Saleet,actor,Airport Patron,NaN
2127670,Inception,2010,Colin (XXV) Smith,actor,Airport Patron,NaN
2238386,Inception,2010,Affan Tareen,actor,Denison,NaN
2796449,Inception,2010,Youlanda Davis,actress,Mombasan Cashier,NaN
2852164,Inception,2010,Julie Eagleton,actress,Stockbroker,NaN
2950644,Inception,2010,Natalie Goldwin,actress,LAX Passenger,NaN
3054447,Inception,2010,Marguerite Insolia,actress,Reporter,NaN
3149397,Inception,2010,Leticia LaBelle,actress,Airport Patron,NaN

### But how many roles in the movie "Inception" did receive an "n" value?

In [22]:
print("Number of roles in the movie \"Inception\" that received an \"n\" value is:")
print(cast[cast.title == "Inception"].n.notna().sum())
print("The roles are displayed below:")
cast[(cast['title']=='Inception')&(cast['n'].notnull()==True)]

Number of roles in the movie "Inception" that received an "n" value is:
51
The roles are displayed below:

,title,year,name,type,character,n
149008,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
183937,Inception,2010,Tom Berenger,actor,Browning,8.0
260128,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
326745,Inception,2010,Michael Caine,actor,Miles,11.0
333415,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
433867,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
444385,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
517227,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
590576,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
709436,Inception,2010,Russ Fega,actor,Cab Driver,23.0
737322,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
807795,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
812135,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
832083,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
833376,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
859993,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
910757,Inception,2010,Lukas Haas,actor,Nash,12.0
940923,Inception,2010,Tom Hardy,actor,Eames,4.0
967176,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
1170785,Inception,2010,Tim Kelleher,actor,Thin Man,24.0
1309851,Inception,2010,Tai-Li Lee,actor,Tadashi,13.0
1455534,Inception,2010,Tohoru Masamune,actor,Japanese Security Guard,18.0
1615709,Inception,2010,Cillian Murphy,actor,Robert Fischer,7.0
1618527,Inception,2010,Jack (III) Murray,actor,Bar Sub Con,35.0
1668790,Inception,2010,Magnus Nolan,actor,James (20 months),15.0
1701902,Inception,2010,Yuji Okumoto,actor,Saito's Attendant,19.0
1812091,Inception,2010,Andrew Pleavin,actor,Businessman,47.0
1826027,Inception,2010,Pete Postlethwaite,actor,Maurice Fischer,10.0
1861317,Inception,2010,Marc Raducci,actor,Lobby Sub Con,39.0
1876301,Inception,2010,Dileep Rao,actor,Yusuf,6.0
2049179,Inception,2010,Felix Scott,actor,Businessman,46.0
2250605,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
2267383,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
2406531,Inception,2010,Ken Watanabe,actor,Saito,5.0
2614557,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38.0
2765969,Inception,2010,Marion Cotillard,actress,Mal,9.0
2776554,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31.0
2807441,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27.0
2932657,Inception,2010,Claire Geare,actress,Phillipa (3 years),14.0
2932664,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16.0
3151982,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28.0
3158892,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33.0
3203564,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0
3225843,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41.0
3343512,Inception,2010,Angela Nathenson,actress,Bar Sub Con,37.0
3359825,Inception,2010,Miranda Nolan,actress,Flight Attendant,22.0
3387147,Inception,2010,Ellen Page,actress,Ariadne,3.0
3444628,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
3473041,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
3480170,Inception,2010,Talulah Riley,actress,Blonde,25.0
3731263,Inception,2010,Shannon Welles,actress,Old Mal,51.0

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [23]:
print("The cast of \"North by Northwest\" in their correct \"n\"-value order, ignoring roles that did not earn a numeric \"n\" value are:  ")
lst = cast[cast.title == "North by Northwest"].sort_values('n').dropna().reset_index(drop=True)
print(lst[['type','n']])

The cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value are:
       type     n
0     actor   1.0
1   actress   2.0
2     actor   3.0
3   actress   4.0
4     actor   5.0
5   actress   6.0
6     actor   7.0
7     actor   8.0
8     actor   9.0
9     actor  10.0
10    actor  11.0
11    actor  12.0
12    actor  13.0
13    actor  14.0
14    actor  15.0
15    actor  16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [24]:
print("The entire cast, in \"n\"-order, of the 1972 film \"Sleuth\" are: ")
# Element-wise logical AND(we use "&" symbol) and for logical AND (we use "and") 
lst = cast[(cast.title == "Sleuth") & (cast.year == 1972)].sort_values('n').reset_index(drop=True) 
print(lst[['type','n','title','year']])

The entire cast, in "n"-order, of the 1972 film "Sleuth" are:
      type    n   title  year
0    actor  1.0  Sleuth  1972
1    actor  2.0  Sleuth  1972
2    actor  3.0  Sleuth  1972
3    actor  4.0  Sleuth  1972
4  actress  5.0  Sleuth  1972
5    actor  6.0  Sleuth  1972


### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [25]:
print("The entire cast, in \"n\"-order, of the 2007 version of \"Sleuth\" are: ")
lst = cast[(cast.title == "Sleuth") & (cast.year == 2007)].sort_values('n').reset_index(drop=True) 
print(lst[['type','n','title','year']])

The entire cast, in "n"-order, of the 2007 version of "Sleuth" are:
      type    n   title  year
0    actor  1.0  Sleuth  2007
1    actor  2.0  Sleuth  2007
2    actor  3.0  Sleuth  2007
3    actor  NaN  Sleuth  2007
4    actor  NaN  Sleuth  2007
5  actress  NaN  Sleuth  2007
6  actress  NaN  Sleuth  2007

### How many roles were credited in the silent 1921 version of Hamlet?

In [26]:
print(
    "The number of roles that were credited in the silent 1921 version of Hamlet are"
)
print(len(cast[(cast.title == "Hamlet") & (cast.year == 1921)]))
print("The roles are displayed below:")
cast[(cast.title == "Hamlet") & (cast.year == 1921)]

The number of roles that were credited in the silent 1921 version of Hamlet are
9
The roles are displayed below:

          title  year                    name     type         character    n
7789     Hamlet  1921        Fritz Achterberg    actor       Fortinbras,  9.0
458904   Hamlet  1921            Paul Conradi    actor      K?nig Hamlet  2.0
555034   Hamlet  1921        Anton De Verdier    actor           Laertes  7.0
1135279  Hamlet  1921         Hans Junkermann    actor          Polonius  6.0
2185558  Hamlet  1921            Heinz Stieda    actor           Horatio  5.0
2375993  Hamlet  1921  Eduard von Winterstein    actor          Claudius  4.0
2664423  Hamlet  1921         Mathilde Brandt  actress  K?nigin Gertrude  3.0
3062023  Hamlet  1921          Lilly Jacobson  actress           Ophelia  8.0
3355176  Hamlet  1921            Asta Nielsen  actress            Hamlet  1.0

### How many roles were credited in Branagh’s 1996 Hamlet?

In [27]:
print(
    "The number of roles that were credited in the Branagh's 1996 Hamlet is:")
print(len(cast[(cast.title == 'Hamlet') & (cast.year == 1996)]))
print("The roles are displayed below:")
cast[(cast.title == 'Hamlet') & (cast.year == 1996)]

The number of roles that were credited in the Branagh's 1996 Hamlet is:
54
The roles are displayed below:

,title,year,name,type,character,n
1731,Hamlet,1996,Riz Abbasi,actor,Attendant to Claudius,1.0
95861,Hamlet,1996,Richard Attenborough,actor,English Ambassador,2.0
158642,Hamlet,1996,Simon Russell Beale,actor,Second Gravedigger,37.0
214473,Hamlet,1996,David (V) Blair,actor,Attendant to Claudius,3.0
219554,Hamlet,1996,Brian Blessed,actor,Ghost of Hamlet's Father,4.0
250773,Hamlet,1996,Christopher Bowles,actor,Cadet in Play,NaN
260225,Hamlet,1996,Kenneth Branagh,actor,Hamlet,5.0
272749,Hamlet,1996,Richard Briers,actor,Polonius,6.0
294652,Hamlet,1996,Michael Bryant,actor,Priest,7.0
319501,Hamlet,1996,Peter Bygott,actor,Attendant to Claudius,8.0
344365,Hamlet,1996,Kenneth W Caravan,actor,Laertes Mob,NaN
500916,Hamlet,1996,Billy Crystal,actor,First Gravedigger,10.0
518572,Hamlet,1996,Charles Daish,actor,Stage Manager,11.0
576147,Hamlet,1996,G?rard Depardieu,actor,Reynaldo,13.0
598618,Hamlet,1996,Reece Dinsdale,actor,Guildenstern,14.0
604339,Hamlet,1996,Ken Dodd,actor,Yorick,15.0
656817,Hamlet,1996,Rob Edwards,actor,Lucianus,17.0
669232,Hamlet,1996,Jimmy Ellis,actor,Old Fortinbras,NaN
704270,Hamlet,1996,Nicholas Farrell,actor,Horatio,18.0
708468,Hamlet,1996,Ray Fearon,actor,Francisco,19.0
827066,Hamlet,1996,John Gielgud,actor,Priam,21.0
990819,Hamlet,1996,Charlton Heston,actor,Player King,23.0
1074691,Hamlet,1996,Ravil Isyanov,actor,Cornelius,24.0
1082161,Hamlet,1996,Derek Jacobi,actor,Claudius,25.0
1210509,Hamlet,1996,Jeffery Kissoon,actor,Fortinbras's Captain,27.0
1316617,Hamlet,1996,Jack Lemmon,actor,Marcellus,29.0
1400732,Hamlet,1996,Anthony Maddalena,actor,Elsinore Courtier,NaN
1417360,Hamlet,1996,Michael Maloney,actor,Laertes,31.0
1489191,Hamlet,1996,Ian McElhinney,actor,Barnardo,30.0
1549128,Hamlet,1996,John Mills,actor,Old Norway,33.0
1556082,Hamlet,1996,Jimi Mistry,actor,Sailor Two,34.0
1588218,Hamlet,1996,Frank (II) Morgan,actor,Pyrrhus,NaN
2040040,Hamlet,1996,Andrew Schofield,actor,Young Lord,38.0
2052796,Hamlet,1996,Orlando Seale,actor,Boatman,NaN
2067657,Hamlet,1996,Rufus Sewell,actor,Fortinbras,39.0
2151526,Hamlet,1996,Timothy Spall,actor,Rosencrantz,40.0
2154960,Hamlet,1996,John Spencer-Churchill,actor,Fortinbras's Captain,32.0
2221910,Hamlet,1996,Thomas Szekeres,actor,Young Hamlet,41.0
2259675,Hamlet,1996,Ben Thom,actor,First Player,42.0
2404091,Hamlet,1996,Don Warrington,actor,Voltimand,43.0
2453099,Hamlet,1996,Robin Williams,actor,Osric,45.0
2500066,Hamlet,1996,David Yip,actor,Sailor One,47.0
2508377,Hamlet,1996,Jimmy Yuill,actor,Alexander,NaN
2737885,Hamlet,1996,Julie Christie,actress,Gertrude,9.0
2814220,Hamlet,1996,Judi Dench,actress,Hecuba,12.0
2835947,Hamlet,1996,Angela Douglas,actress,Attendant to Gertrude,16.0
2940033,Hamlet,1996,Yvonne Gidden,actress,Doctor,20.0
2999610,Hamlet,1996,Rosemary Harris,actress,Player Queen,22.0
3119901,Hamlet,1996,Rowena King,actress,Attendant to Gertrude,26.0
3154270,Hamlet,1996,Sarah Lam,actress,Attendant to Gertrude,28.0
3451003,Hamlet,1996,Sian Radinger,actress,Prologue,35.0
3456114,Hamlet,1996,Melanie Ramsay,actress,Prostitute,NaN
3728751,Hamlet,1996,Perdita Weeks,actress,Second Player,44.0
3751232,Hamlet,1996,Kate Winslet,actress,Ophelia,46.0

### How many "Hamlet" roles have been listed in all film credits through history?

In [28]:
print(
    "The number of roles of \"Hamlet\" that have been listed in all film credits through history is:"
)
print(len(cast[(cast.title == 'Hamlet') & (cast.character == "Hamlet")]))
print("The roles are displayed below:")
cast[(cast.title == 'Hamlet') & (cast.character == "Hamlet")]

The number of roles of "Hamlet" that have been listed in all film credits through history is:
18
The roles are displayed below:

          title  year                       name     type character    n
260225   Hamlet  1996            Kenneth Branagh    actor    Hamlet  5.0
312781   Hamlet  1964             Richard Burton    actor    Hamlet  1.0
432307   Hamlet  2017                  Tom Clear    actor    Hamlet  NaN
746646   Hamlet  1913  Johnston Forbes-Robertson    actor    Hamlet  2.0
826565   Hamlet  1990                 Mel Gibson    actor    Hamlet  1.0
842847   Hamlet  2016              Jonathan Goad    actor    Hamlet  NaN
961566   Hamlet  2000                Ethan Hawke    actor    Hamlet  1.0
1498929  Hamlet  1973               Rick McKenna    actor    Hamlet  NaN
1518580  Hamlet  2009             David Melville    actor    Hamlet  1.0
1530280  Hamlet  1976                David Meyer    actor    Hamlet  6.0
1531033  Hamlet  1976                 Tony Meyer    actor    Hamlet  5.0
1602320  Hamlet  1910          Jean Mounet-Sully    actor    Hamlet  NaN
1651237  Hamlet  1911                 Alwin Neu?    actor    Hamlet  1.0
1871597  Hamlet  2011               Bruce Ramsay    actor    Hamlet  1.0
1995606  Hamlet  1954               Kishore Sahu    actor    Hamlet  3.0
2454906  Hamlet  1969           Nicol Williamson    actor    Hamlet  1.0
3355176  Hamlet  1921               Asta Nielsen  actress    Hamlet  1.0
3405990  Hamlet  2015               Maxine Peake  actress    Hamlet  1.0

### How many people have played an "Ophelia"?

In [29]:
print("The number of people who have played \"Ophelia\" is:")
print(len(cast[cast.character == "Ophelia"]))
print("The names are listed below:")
cast[cast.character == "Ophelia"]

The number of people who have played "Ophelia" is:
117
The names are listed below:

,title,year,name,type,character,n
248251,The Merry Maids of Madness,2016,Amy Bourque,actor,Ophelia,11.0
410247,Jake Gets Paid,2009,Josie Chisholm,actor,Ophelia,NaN
470859,Inoperable,2017,Crystal Cordero,actor,Ophelia,NaN
866334,"Dogg's Hamlet, Cahoot's Macbeth",2005,Lucas Grabeel,actor,Ophelia,NaN
1364457,11,2014,Catherine (IV) Lord,actor,Ophelia,NaN
...,...,...,...,...,...,...
3722298,D.C. Cab,1983,Marsha Warfield,actress,Ophelia,7.0
3723039,Creature,2011,Jennifer Lynn Warren,actress,Ophelia,12.0
3733637,Hamlet,2015,Katie (II) West,actress,Ophelia,7.0
3748118,National Theatre Live: Rosencrantz & Guildenst...,2017,Helen (IV) Wilson,actress,Ophelia,NaN
3751232,Hamlet,1996,Kate Winslet,actress,Ophelia,46.0

### How many people have played a role called "The Dude"?

In [30]:
print("The number of people who have played  ta role called \"The Dude\" is:")
print(len(cast[cast.character == "The Dude"]))
print("The names are listed below:")
cast[cast.character == "The Dude"]

The number of people who have played  ta role called "The Dude" is:
19
The names are listed below:

,title,year,name,type,character,n
272161,The Big Lebowski,1998,Jeff Bridges,actor,The Dude,1.0
339389,Terms & Conditions,2015,Jordan Cann,actor,The Dude,9.0
498660,Stranger,2000,Scott Crowell,actor,The Dude,NaN
570128,Pizza Man vs. the Dude,2004,Chris DeMarcus,actor,The Dude,NaN
610791,Sweepstakes,1931,Mike Donlin,actor,The Dude,12.0
629473,Self Helpless,2010,Devin The Dude,actor,The Dude,NaN
855976,A Few Brains More,2012,Michael D. Goodwin,actor,The Dude,NaN
1089444,Jay and Silent Bob Strike Back,2001,Matthew (XIX) James,actor,The Dude,37.0
1138933,Explicit Ills,2008,Christopher Kadish,actor,The Dude,27.0
1367230,American Idiots,2013,Jason Loughridge,actor,The Dude,10.0
1386561,The Winds of Autumn,1976,Steve Lyons,actor,The Dude,30.0
1512572,The Liq,2016,Mark Alan Meek,actor,The Dude,NaN
1540933,Wild Oats Lane,1926,Jerry Miley,actor,The Dude,6.0
1784519,Oklahoma Badlands,1948,House Peters Jr.,actor,The Dude,13.0
1824744,Cloud Air: The Movie,2013,Thomas (VIII) Porter,actor,The Dude,8.0
1838960,Hacks,1997,Jason Priestley,actor,The Dude,11.0
2202150,Carlos Spills the Beans,2013,Bobby Styles,actor,The Dude,NaN
2336261,Zachariah,1971,Dick Van Patten,actor,The Dude,9.0
2419271,It Can Be Arranged,2010,Joel Weiss,actor,The Dude,NaN

### How many people have played a role called "The Stranger"?

In [31]:
print("The number of people who have played  ta role called \"The Stranger\" is:")
print(len(cast[cast.character == "The Stranger"]))
print("The names are listed below:")
cast[cast.character == "The Stranger"]

The number of people who have played  ta role called "The Stranger" is:
212
The names are listed below:

,title,year,name,type,character,n
25954,Theeb,2014,Hassan Mutlag Al-Maraiyeh,actor,The Stranger,2.0
35748,My Time to Die,2014,Vincent H. Alexander,actor,The Stranger,2.0
46418,Hickok,2017,Terral Altom,actor,The Stranger,NaN
67421,Get Mean,1975,Tony Anthony,actor,The Stranger,1.0
67424,Lo straniero di silenzio,1968,Tony Anthony,actor,The Stranger,1.0
...,...,...,...,...,...,...
3219011,Ever Since Eve,1921,Ethel Lynne,actress,The Stranger,7.0
3405700,Weitertanzen,2008,Rosa Maria Paz,actress,The Stranger,NaN
3427715,The Godsend,1980,Angela Pleasence,actress,The Stranger,3.0
3567516,Motherland,1927,Dorinea Shirley,actress,The Stranger,NaN
3746949,The Seventh,2017,Kerry (II) Willison-Parry,actress,The Stranger,NaN

### How many roles has Sidney Poitier played throughout his career?

In [32]:
print("The number of roles that Sidney Poitier has played throughout his career is:")
print(len(cast[cast.name == "Sidney Poitier"]))
print("The roles are displayed below:")
cast[cast.name == "Sidney Poitier"]

The number of roles that Sidney Poitier has played throughout his career is:
43
The roles are displayed below:

,title,year,name,type,character,n
1816209,A Patch of Blue,1965,Sidney Poitier,actor,Gordon Ralfe,1.0
1816210,A Piece of the Action,1977,Sidney Poitier,actor,Manny Durrell,1.0
1816211,A Raisin in the Sun,1961,Sidney Poitier,actor,Walter Lee Younger,1.0
1816212,A Warm December,1973,Sidney Poitier,actor,Dr. Matt Younger,1.0
1816213,All the Young Men,1960,Sidney Poitier,actor,Sgt. Eddie Towler,2.0
1816214,Band of Angels,1957,Sidney Poitier,actor,Rau-Ru,3.0
1816215,Blackboard Jungle,1955,Sidney Poitier,actor,Gregory W. Miller,10.0
1816216,Brother John,1971,Sidney Poitier,actor,John Kane,1.0
1816217,Buck and the Preacher,1972,Sidney Poitier,actor,Buck,1.0
1816218,"Cry, the Beloved Country",1951,Sidney Poitier,actor,Reverend Msimangu,3.0
1816219,Duel at Diablo,1966,Sidney Poitier,actor,Toller,2.0
1816220,Edge of the City,1957,Sidney Poitier,actor,Tommy Tyler,2.0
1816221,For Love of Ivy,1968,Sidney Poitier,actor,Jack Parks,1.0
1816222,Go Man Go,1954,Sidney Poitier,actor,Inman Jackson,3.0
1816223,"Good-bye, My Lady",1956,Sidney Poitier,actor,Gates Watson,4.0
1816224,Guess Who's Coming to Dinner,1967,Sidney Poitier,actor,John Prentice,2.0
1816225,In the Heat of the Night,1967,Sidney Poitier,actor,Virgil Tibbs,1.0
1816226,Let's Do It Again,1975,Sidney Poitier,actor,Clyde Williams,1.0
1816227,Lilies of the Field,1963,Sidney Poitier,actor,Homer Smith,1.0
1816228,Little Nikita,1988,Sidney Poitier,actor,Roy Parmenter,1.0
1816229,No Way Out,1950,Sidney Poitier,actor,Dr. Luther Brooks,4.0
1816230,Paris Blues,1961,Sidney Poitier,actor,Eddie Cook,3.0
1816231,Porgy and Bess,1959,Sidney Poitier,actor,Porgy,1.0
1816232,Pressure Point,1962,Sidney Poitier,actor,Doctor,1.0
1816233,Red Ball Express,1952,Sidney Poitier,actor,Robertson,5.0
1816234,Sepia Cinderella,1947,Sidney Poitier,actor,Night Club Extra,NaN
1816235,Shoot to Kill,1988,Sidney Poitier,actor,Warren Stantin,1.0
1816236,Sneakers,1992,Sidney Poitier,actor,Donald Crease,4.0
1816237,Something of Value,1957,Sidney Poitier,actor,Kimani Wa Karanja,13.0
1816238,The Bedford Incident,1965,Sidney Poitier,actor,Ben Munceford,2.0
1816239,The Defiant Ones,1958,Sidney Poitier,actor,Noah Cullen,2.0
1816240,The Greatest Story Ever Told,1965,Sidney Poitier,actor,Simon of Cyrene,21.0
1816241,The Jackal,1997,Sidney Poitier,actor,FBI Deputy Director Carter Preston,3.0
1816242,The Long Ships,1964,Sidney Poitier,actor,Aly Mansuh,2.0
1816243,The Lost Man,1969,Sidney Poitier,actor,Jason Higgs,1.0
1816244,The Mark of the Hawk,1957,Sidney Poitier,actor,Obam,2.0
1816245,The Organization,1971,Sidney Poitier,actor,Virgil Tibbs,1.0
1816246,The Slender Thread,1965,Sidney Poitier,actor,Alan Newell,1.0
1816247,The Wilby Conspiracy,1975,Sidney Poitier,actor,Shack Twala,1.0
1816248,They Call Me Mister Tibbs!,1970,Sidney Poitier,actor,Virgil Tibbs,1.0
1816249,"To Sir, with Love",1967,Sidney Poitier,actor,Mark Thackeray,1.0
1816250,Uptown Saturday Night,1974,Sidney Poitier,actor,Steve Jackson,1.0
1816251,Virgin Island,1958,Sidney Poitier,actor,Marcus,3.0

### How many roles has Judi Dench played?

In [33]:
print("The number of roles that Judi Dench has played is:")
print(len(cast[cast.name == "Judi Dench"]))
print("The roles are displayed below:")
cast[cast.name == "Judi Dench"]

The number of roles that Judi Dench has played is:
55
The roles are displayed below:

,title,year,name,type,character,n
2814206,84 Charing Cross Road,1987,Judi Dench,actress,Nora Doel,3.0
2814207,A Handful of Dust,1988,Judi Dench,actress,Mrs. Beaver,13.0
2814208,A Midsummer Night's Dream,1968,Judi Dench,actress,Titania,16.0
2814209,A Room with a View,1985,Judi Dench,actress,"Eleanor Lavish, a novelist",7.0
2814210,A Study in Terror,1965,Judi Dench,actress,Sally,8.0
2814211,Angelina Ballerina: Angelina Sets Sail,2006,Judi Dench,actress,Miss Lilly,2.0
2814212,Branagh Theatre Live: The Winter's Tale,2015,Judi Dench,actress,Paulina,NaN
2814213,Casino Royale,2006,Judi Dench,actress,M,4.0
2814214,Chocolat,2000,Judi Dench,actress,Armande Voizin,18.0
2814215,Dead Cert,1974,Judi Dench,actress,Laura Davidson,2.0
2814216,Die Another Day,2002,Judi Dench,actress,M,6.0
2814217,Doogal,2006,Judi Dench,actress,Narrator,7.0
2814218,Four in the Morning,1965,Judi Dench,actress,Wife,2.0
2814219,GoldenEye,1995,Judi Dench,actress,M,6.0
2814220,Hamlet,1996,Judi Dench,actress,Hecuba,12.0
2814221,He Who Rides a Tiger,1965,Judi Dench,actress,Joanne,2.0
2814222,Henry V,1989,Judi Dench,actress,Mistress Nell Quickly,26.0
2814223,Home on the Range,2004,Judi Dench,actress,Mrs. Caloway,7.0
2814224,Iris,2001,Judi Dench,actress,Iris Murdoch,3.0
2814225,J. Edgar,2011,Judi Dench,actress,Annie Hoover,13.0
2814226,Jack & Sarah,1995,Judi Dench,actress,Margaret,3.0
2814227,Jane Eyre,2011,Judi Dench,actress,Mrs. Fairfax,18.0
2814228,Ladies in Lavender,2004,Judi Dench,actress,Ursula,1.0
2814229,Luther,1974,Judi Dench,actress,Katherine,7.0
2814230,Miss Peregrine's Home for Peculiar Children,2016,Judi Dench,actress,Miss Avocet,4.0
2814231,Mrs Brown,1997,Judi Dench,actress,Queen Victoria,1.0
2814232,Mrs Henderson Presents,2005,Judi Dench,actress,Mrs. Laura Henderson,1.0
2814233,Murder on the Orient Express,2017,Judi Dench,actress,Princess Dragomiroff,39.0
2814234,My Week with Marilyn,2011,Judi Dench,actress,Dame Sybil Thorndike,23.0
2814235,Nine,2009,Judi Dench,actress,Lilli,6.0
2814236,Notes on a Scandal,2006,Judi Dench,actress,Barbara Covett,1.0
2814237,Philomena,2013,Judi Dench,actress,Philomena,1.0
2814238,Pirates of the Caribbean: On Stranger Tides,2011,Judi Dench,actress,Society Lady,16.0
2814239,Pride & Prejudice,2005,Judi Dench,actress,Lady Catherine de Bourgh,20.0
2814240,Quantum of Solace,2008,Judi Dench,actress,M,4.0
2814241,Rage,2009,Judi Dench,actress,Mona Carvell,NaN
2814242,Red Joan,2018,Judi Dench,actress,Joan Stantley,NaN
2814243,Run for Your Wife,2012,Judi Dench,actress,Bag Lady,40.0
2814244,Shakespeare in Love,1998,Judi Dench,actress,Queen Elizabeth,12.0
2814245,Skyfall,2012,Judi Dench,actress,M,2.0
2814246,Spectre,2015,Judi Dench,actress,M,NaN
2814247,Stars in Shorts,2012,Judi Dench,actress,Mary,29.0
2814248,Tea with Mussolini,1999,Judi Dench,actress,Arabella,2.0
2814249,The Angelic Conversation,1985,Judi Dench,actress,Shakespeare's Sonnets read by,3.0
2814250,The Best Exotic Marigold Hotel,2011,Judi Dench,actress,Evelyn Greenslade,1.0
2814251,The Chronicles of Riddick,2004,Judi Dench,actress,Aereon,4.0
2814252,The Importance of Being Earnest,2002,Judi Dench,actress,Lady Bracknell,5.0
2814253,The Second Best Exotic Marigold Hotel,2015,Judi Dench,actress,Evelyn Greenslade,5.0
2814254,The Shipping News,2001,Judi Dench,actress,Agnis Hamm,3.0
2814255,The Third Secret,1964,Judi Dench,actress,Miss Humphries,12.0
2814256,The World Is Not Enough,1999,Judi Dench,actress,M,6.0
2814257,Tomorrow Never Dies,1997,Judi Dench,actress,M,9.0
2814258,Tulip Fever,2017,Judi Dench,actress,Abbess,11.0
2814259,Victoria & Abdul,2017,Judi Dench,actress,Queen Victoria,1.0
2814260,Wetherby,1985,Judi Dench,actress,Marcia Pilborough,3.0

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [34]:
print(
    "The list of supporting roles played by Cary Grant in 1940's ordered by year are:"
)
cast[(cast.name == "Cary Grant") & (cast.n == 2) & (cast.year >= 1940) &
     (cast.year <= 1949)].sort_values(by=['year'])

The list of supporting roles played by Cary Grant in 1940's ordered by year are:

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [35]:
print(
    "The list of leading roles played by Cary Grant in 1940's ordered by year are:"
)
cast[(cast.name == "Cary Grant") & (cast.year >= 1940) & (cast.year <= 1949)].sort_values(by=['year'])

The list of leading roles played by Cary Grant in 1940's ordered by year are:

,title,year,name,type,character,n
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871423,My Favorite Wife,1940,Cary Grant,actor,Nick Arden,2.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871433,Penny Serenade,1941,Cary Grant,actor,Roger Adams,2.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871405,George White's Scandals,1945,Cary Grant,actor,Cary Grant,NaN
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871466,Without Reservations,1946,Cary Grant,actor,Cary Grant,NaN
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [36]:
print("The Number of roles that were available for actors in the 1950s is:")
print(len(cast[(cast.type == "actor") & (cast.year >= 1950) & (cast.year <= 1959)].sort_values(by=['year'])))

The Number of roles that were available for actors in the 1950s is:
157738

### How many roles were available for actresses in the 1950s?

In [37]:
print("The Number of roles that were available for actresses in the 1950s is:")
print(len(cast[(cast.type == "actress") & (cast.year >= 1950) & (cast.year <= 1959)].sort_values(by=['year'])))

The Number of roles that were available for actresses in the 1950s is:
57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [38]:
print("The number of leading roles\(n=1\) that were available from the beginning of film history through 1980 are:")
print(len(cast[(cast.year <= 1980) & (cast.n == 1)].type))

The number of leading roles\(n=1\) that were available from the beginning of film history through 1980 are:
65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [39]:
print("The number of non-leading roles\(n=1\) that were available from the beginning of film history through 1980 are:")
print(len(cast[(cast.year <= 1980) & (cast.n != 1)].type))

The number of non-leading roles\(n=1\) that were available from the beginning of film history through 1980 are:
1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [40]:
print("The number of non-leading roles\(n=1\) that were available from the beginning of film history through 1980 are:")
print(len(cast[(cast.year == 1980) & (cast.n.isnull() == True)]))

The number of non-leading roles\(n=1\) that were available from the beginning of film history through 1980 are:
4466