In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

FileNotFoundError: [Errno 2] No such file or directory: 'style-table.css'

In [3]:
titles = pd.read_csv('Dataset/titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [4]:
cast = pd.read_csv('Dataset/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [5]:
cast.shape

(3786176, 6)

In [6]:
titles.shape

(244914, 2)

In [7]:
release_dates = pd.read_csv('Dataset/release_dates.csv')
release_dates.head()

                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                   #BKKY  2016     Cambodia  2017-10-12
2                 #Beings  2015      Romania  2015-01-29
3               #Captured  2017          USA  2017-09-05
4  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21

In [8]:
release_dates.shape

(479488, 4)

### How many movies are listed in the titles dataframe?

In [9]:
sum = titles['title'].count()

In [10]:
print("Number of movies that are listed in the titles dataframe is:",sum)

Number of movies that are listed in the titles dataframe is: 244914

### What are the earliest two films listed in the titles dataframe?

In [11]:
print("The earliest two films listed in the titles dataframe are:")

sorted1 = titles.sort_values('year').reset_index(drop=True).head(2)
list1 = list(sorted1['title'])
print(list1)

The earliest two films listed in the titles dataframe are:
['Miss Jerry', 'The Startled Lover']

### How many movies have the title "Hamlet"?

In [12]:
print("The Number of movie with \"Hamlet\" as the Title are:")
print(len(titles[titles.title == 'Hamlet']))

The Number of movie with "Hamlet" as the Title are:
20

### How many movies are titled "North by Northwest"?

In [13]:
print("The Number of movie with \"North by Northwest\" as the Title are:")
print(len(titles[titles.title == 'North by Northwest']))

The Number of movie with "North by Northwest" as the Title are:
1

### When was the first movie titled "Hamlet" made?

In [14]:
print("The First movie with \"Hamlet\" as the Title is:")
fst = int(titles[titles.title == 'Hamlet'].sort_values('year').reset_index(drop=True).year.head(1))
print(fst)

The First movie with "Hamlet" as the Title is:
1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [15]:
print("All of the \"Treasure Island\" movies from earliest to most recent are:")
print(titles[titles.title == 'Treasure Island'].sort_values('year').reset_index(drop=True).head())

All of the "Treasure Island" movies from earliest to most recent are:
             title  year
0  Treasure Island  1918
1  Treasure Island  1920
2  Treasure Island  1934
3  Treasure Island  1950
4  Treasure Island  1972

### How many movies were made in the year 1950?

In [16]:
print("Number of movies that were made in the year 1950 is:")
print(len(titles[titles.year == 1950]))

Number of movies that were made in the year 1950 is:
1113

### How many movies were made in the year 1960?

In [17]:
print("Number of movies that were made in the year 1960 is:")
print(len(titles[titles.year == 1960]))

Number of movies that were made in the year 1960 is:
1549

### How many movies were made from 1950 through 1959?

In [18]:
print("The number of movies that were made from 1950 through 1959 is:")
sum = 0
for i in range(1950,1960):
    sum = sum + len(titles[titles.year == i])
print(sum)

The number of movies that were made from 1950 through 1959 is:
12934

### In what years has a movie titled "Batman" been released?

In [19]:
print("The movie titled \"Batman\" has been released in the year:")
mov = titles[titles.title == 'Batman'].reset_index(drop=True)
print(mov[['year']])

The movie titled "Batman" has been released in the year:
   year
0  1943
1  1989

### How many roles were there in the movie "Inception"?

In [20]:
print("Number of Roles that were there in the movie \"Inception\" is:")
lst = list (cast[cast.title == "Inception"].type.unique())
print(lst)

Number of Roles that were there in the movie "Inception" is:
['actor', 'actress']

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [21]:
print("Number of roles in the movie \"Inception\" that are NOT ranked by an \"n\" value is:")
print(cast[cast.title == "Inception"].n.isna().sum())

Number of roles in the movie "Inception" that are NOT ranked by an "n" value is:
27

### But how many roles in the movie "Inception" did receive an "n" value?

In [22]:
print("Number of roles in the movie \"Inception\" that received an \"n\" value is:")
print(cast[cast.title == "Inception"].n.notna().sum())

Number of roles in the movie "Inception" that received an "n" value is:
51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [23]:
lst = cast[cast.title == "North by Northwest"].sort_values('n').dropna().reset_index(drop=True)
print(lst[['type','n']])

       type     n
0     actor   1.0
1   actress   2.0
2     actor   3.0
3   actress   4.0
4     actor   5.0
5   actress   6.0
6     actor   7.0
7     actor   8.0
8     actor   9.0
9     actor  10.0
10    actor  11.0
11    actor  12.0
12    actor  13.0
13    actor  14.0
14    actor  15.0
15    actor  16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [24]:
# Element-wise logical AND(we use "&" symbol) and for logical AND (we use "and") 
lst = cast[(cast.title == "Sleuth") & (cast.year == 1972)].sort_values('n').reset_index(drop=True) 
print(lst[['type','n','title','year']])

      type    n   title  year
0    actor  1.0  Sleuth  1972
1    actor  2.0  Sleuth  1972
2    actor  3.0  Sleuth  1972
3    actor  4.0  Sleuth  1972
4  actress  5.0  Sleuth  1972
5    actor  6.0  Sleuth  1972

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [25]:
lst = cast[(cast.title == "Sleuth") & (cast.year == 2007)].sort_values('n').reset_index(drop=True) 
print(lst[['type','n','title','year']])

      type    n   title  year
0    actor  1.0  Sleuth  2007
1    actor  2.0  Sleuth  2007
2    actor  3.0  Sleuth  2007
3    actor  NaN  Sleuth  2007
4    actor  NaN  Sleuth  2007
5  actress  NaN  Sleuth  2007
6  actress  NaN  Sleuth  2007

### How many roles were credited in the silent 1921 version of Hamlet?

In [26]:
cast[(cast.title == "Hamlet") & (cast.year == 1921)]

          title  year                    name     type         character    n
7789     Hamlet  1921        Fritz Achterberg    actor       Fortinbras,  9.0
458904   Hamlet  1921            Paul Conradi    actor      K?nig Hamlet  2.0
555034   Hamlet  1921        Anton De Verdier    actor           Laertes  7.0
1135279  Hamlet  1921         Hans Junkermann    actor          Polonius  6.0
2185558  Hamlet  1921            Heinz Stieda    actor           Horatio  5.0
2375993  Hamlet  1921  Eduard von Winterstein    actor          Claudius  4.0
2664423  Hamlet  1921         Mathilde Brandt  actress  K?nigin Gertrude  3.0
3062023  Hamlet  1921          Lilly Jacobson  actress           Ophelia  8.0
3355176  Hamlet  1921            Asta Nielsen  actress            Hamlet  1.0

### How many roles were credited in Branagh’s 1996 Hamlet?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were available for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?