# Assignment Day 6 | 14th July 2020

## Question 1:
### Assuming that we have some email addresses in the "username@companyname.com" format, please write program
### to print the company name of a given email address. Both user names and company names are composed of letters
### only.
### Input Format:
### The first line of the input contains an email address.
### Output Format:
### Print the company name in single line.
### Example;
### Input:
### john@google.com
### Output:
### google

In [16]:
email = input("Enter the Email address: ")
cmp =""
# j = 0
for i in range(0, len(email)):
    if email[i] == "@":
        i += 1
        for j in range(i, len(email)):
            if email[j] == ".":
                break
            cmp += email[j]
    
#         j += 1
print("The Company name is:",cmp)

Enter the Email address: nikhilsvkja@gmail.com
The Company name is: gmail

## Question 2:
### Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
### separated sequence after sorting them alphabetically.
### Input Format:
### The first line of input contains words separated by the comma.
### Output Format:
### Print the sorted words separated by the comma.
### Example:
### Input:
### without,hello,bag,world
### Output:
### bag,hello,without,world

In [26]:
words = input("Enter comma-separated sequence of words: ").split(',')
words.sort()
print(words)
print(*words,sep=",")
print(','.join(words))

Enter comma-separated sequence of words: without,hello,bag,world
['bag', 'hello', 'without', 'world']
bag,hello,without,world
bag,hello,without,world

## Question 3:
### Create your own Jupyter Notebook for Sets.
### Reference link: https://www.w3schools.com/python/python_sets.asp

# -------------------------------------------------------------------------------------------------------------

# Set
### A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [27]:
# Example
# Create a Set:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

# Note:
Sets are unordered, so you cannot be sure in which order the items will appear.

# Access Items
You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a ___for___ loop, or ask if a specified value is present in a set, by using the ___in___ keyword.

In [28]:
# Example
# Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [29]:
# Example
# Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

# Change Items


### Once a set is created, you cannot change its items, but you can add new items.

# Add Items
To add one item to a set use the ___add()___ method.

To add more than one item to a set use the ___update()___ method.

In [30]:
# Example
# Add an item to a set, using the add() method:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'cherry', 'orange', 'apple'}

In [31]:
# Example
# Add multiple items to a set, using the update() method:
thisset = {"apple", "banana", "cherry"}
thisset.update(["orange", "mango", "grapes"])
print(thisset)

{'cherry', 'orange', 'banana', 'mango', 'grapes', 'apple'}

# Get the Length of a Set
To determine how many items a set has, use the ___len()___ method.

In [32]:
# Example
# Get the number of items in a set:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

# Remove Item
To remove an item in a set, use the remove(), or the ___discard()___ method.

In [33]:
# Example
# Remove "banana" by using the remove() method:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

# Note: 
If the item to remove does not exist, ___remove()___ will raise an error.

In [34]:
# Example
# Remove "banana" by using the discard() method:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

# Note: 
If the item to remove does not exist, ___discard()___ will NOT raise an error.


.







You can also use the ___pop()___, method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the ___pop()___ method is the removed item.

In [35]:
# Example
# Remove the last item by using the pop() method:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

banana
{'cherry', 'apple'}

# Note: 
Sets are unordered, so when using the ___pop()___ method, you will not know which item that gets removed.

In [36]:
# Example
# The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [37]:
# Example
# The del keyword will delete the set completely:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

# Join Two Sets
There are several ways to join two or more sets in Python.

You can use the ___union()___ method that returns a new set containing all items from both sets, or the ___update()___ method that inserts all the items from one set into another:

In [48]:
# Example
# The union() method returns a new set with all items from both sets:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'a', 'b'}

In [49]:
# Example
# The update() method inserts the items in set2 into set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{'c', 1, 2, 3, 'a', 'b'}

# Note: 
Both ___union()___ and ___update()___ will exclude any duplicate items.

There are other methods that joins two sets and keeps ONLY the duplicates, or NEVER the duplicates, check the full list of set methods in the bottom of this page.

# The set() Constructor
It is also possible to use the ___set()___ constructor to make a set.

In [41]:
# Example
# Using the set() constructor to make a set:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

# -------------------------------------------------------------------------------------------------------------

## Question 4:
### Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
### Input Format:
### The first line contains n-1 numbers with each number separated by a space.
### Output Format:
### Print the missing number
### Example:
### Input:1 2 4 6 3 7 8
### Output:5
### Explanation:
### In the above list of numbers 5 is missing and hence 5 is the input

In [ ]:
numbers = input("Enter numbers separated by a spaces: ").split()
words.sort()
print(words)
print(*words,sep=",")
print(','.join(words))

## Question 5:
### With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
### Example:
### If the input list is
### 12 24 35 24 88 120 155 88 120 155
### Then the output should be
### 12 24 35 88 120 155
### Explanation:
### Third, seventh and ninth element of the list L has been removed because it was already present.
### Input Format:
### In one line take the elements of the list L with each element separated by a space.
### Output Format:
### Print the elements of the modified list in one line with each element separated by a space.
### Example:
### Input: 12 24 35 24
### Output:
### 12 24 35

In [46]:
lst = input("Enter the numbers:  ").split()
print(lst)
lst = list(dict.fromkeys(lst))
print(lst)
print(*lst,sep=" ")
print(' '.join(lst))

Enter the numbers:  12 24 35 24 88 120 155 88 120 155
['12', '24', '35', '24', '88', '120', '155', '88', '120', '155']
['12', '24', '35', '88', '120', '155']
12 24 35 88 120 155
12 24 35 88 120 155